
h1, h3{
   color: #2d3c49;

}

h1 {
  font-weight: 200;
  font-size: 55px;
  margin-top: 10px;
  margin-bottom: 0;
}

h2 {
  color: #7d97ad;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 10px;
}

h3, .header-small {
  margin-top: 0;
  font-size: 24px;
  font-weight: 400;
}

.header-right {
  text-align: right;
  text-transform: uppercase;
}

.logo-img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  border-bottom: 3px solid #7d97ad;
}

.projects  img {
  width: 100%;
}

.main_img img {
  width: 100%;
}

.projects > div {
  width: calc((100% - 40px) / 3);
  margin-right: 20px;
}

.projects > div:last-of-type {
  margin-right: 0;
}

.projects {
  text-align: center;
}

.projects a {
  text-decoration: none;
  color: #2d3c49;
}

.projects h3 {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 10px;
}

.projects p {
  margin: 0 auto;
}

 /* ipad media queries */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .projects a {
  font-size: 1.3em;
  padding: 15px;
  }
}

/* iphone 5 and nexus5 media queries */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  .projects > div {
    width: 100%;
    margin: 0 auto;
  }
  .projects a {
    font-size: 1.3em;
    padding: 15px;
  }

  .projects p {
    padding-bottom: 15px;
  }

  .logo-img {
    width: 20%;
  }

  .header-right {
    width: 80%;
  }

  h1 {
    font-size: 2.4em;
  }

  h2 {
    text-align: center;
    margin-top: 0px;
    font-size: 1.7em;
  }

  h3, .header-small {
    font-size: 1.36em;
  }

  .projects h3 {
    font-size: 1.36em;

  }
}
