@import url(https://fonts.googleapis.com/css?family=Lato:200,400,300,700);
* {
    font-family: 'Lato', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

h1, h3{
   color: #2d3c49;

}
h1 {
  font-weight: 200;
  font-size: 55px;
  margin-top: 10px;
  margin-bottom: 0;
}

h2 {
  color: #7d97ad;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 10px;
}

h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 400;
}

.header-right {
  text-align: right;
  text-transform: uppercase;
}

.logo-img {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header {
  border-bottom: 3px solid #7d97ad;
}

.projects  img {
  width: 100%;
}

.main_img > img {
  width: 100%;
}
.projects > div {
  width: calc((100% - 40px) / 3);
  margin-right: 20px;
}

.projects > div:last-of-type{
  margin-right: 0;
}

.projects {
  text-align: center;
}

.projects a {
  text-decoration: none;
  color: #2d3c49;
}

.projects h3 {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 0;
  margin-top: 10px;
}
.projects p {
  margin: 0 auto;
}
